<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>String Highlighter</title>
</head>

<body style="background-color: grey;height: 100vh; width: 100%"">
    
    <div style=" height: 100%; width: 100%;box-sizing: border-box;">
    <div name="heading" style=" height:10%;width: 100%; box-sizing: border-box;">
        <h1>String Highlighter</h1>
    </div>
    <form method="post" class="post-form" action={% url 'highlight_string' %}>
        {% csrf_token %}
        <div name="input" style="display:flex; height:30%; width: 100%; ">
            <div style="padding:10px; flex:1; width: 50%;">
                <input placeholder="Input String" name="inputText" value="{{ normal_str }}"
                    style="height:100%; width:100%;" />
            </div>
            <div name="submit" style="padding:10px;flex:1;width: 50%;">
                <table>
                    <tr>
                        <td>
                            <h3>Start:<input name="start" value="{{ start }}" type="text" /></h3>

                        </td>
                        <td>
                            <h3>End:<input name="end" value="{{ end }}" type="text" /></h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>String length: {{string_length}}</h3>
                        </td>
                        <td>
                            <button type="submit" value="Submit" onclick=>Submit</button>
                        </td>
                    </tr>



                </table>

            </div>
        </div>
    </form>
    <div name="output" style="padding:10px; height:30%;width: 100%; ">
        <h3>
            {{hg_str|safe}}
        </h3>

    </div>
    </div>

</body>

</html>