<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>String Highlighter</title>
</head>
<body style="background-color: grey;border: 1px solid black;height: 100vh; width: 100%"">
    
    <div style="border: 1px solid black;height: 100%; width: 100%;box-sizing: border-box;">
        <div name="heading" style="border: 2px solid blue; height:10%;width: 100%; box-sizing: border-box;">
            <h1>String Highlighter</h1>
        </div>
        
        <div name="input" style="display:flex;border: 2px solid blue; height:30%;width: 100%; box-sizing: border-box;">
            <div name="inputText" style="padding:10px;flex:1;border: 2px solid red;width: 50%;">
                <textarea style="resize: none;height: 100%; width:100%"></textarea>
            </div>
            <div name="submit" style="padding:10px;flex:1;border: 2px solid red;width: 50%;">
                <h3>start: <input type="text" /></h3>
                <h3>end: <input type="text" /></h3>
                <button type="submit" value="Submit">Submit</button>
            </div>
        </div>
        <div name="output" style="border: 2px solid blue; height:30%;width: 100%; box-sizing: border-box;">
            <p>Hel<mark>lo Wo</mark>rld</p>
        </div>
    </div> 

</body>
</html>